body{
  background-color: #fffdf9;
  margin: 0;
  text-align: center;
}

.a{
  background-color: #beebe9;

  /* height: 180px; */
}
.b{
  background-color: red;
  height: 100px;
  width: 100px;
  position: absolute;
  right: 0;
}
.c{
  background-color: blue;
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 140px;
  left: 100px

}
.d{
  background-color: green;
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 250px;
}
.pro{
  text-decoration: underline;
  width: 100px;
}
.container{
  position: relative;
  height: 250px;
  width: 300px;
  background-color: gold;
  display: underline;
}
.cloud1{
  position: absolute;
  /* left: 100px; */
}
.cloud2{
  
}
h1{
  margin: auto; auto; auto; auto;
  width: 10%;
}
